<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client"
             type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.23.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <oracle.manageddataaccess.client>
    <version number="*">
      <settings>
        <setting name="StatementCacheSize" value="0" />
        <setting name="SelfTuning" value="false" />
        <setting name="TraceLevel" value="0" />
      </settings>
    </version>
  </oracle.manageddataaccess.client>
</configuration>
